spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/test
    username: postgres
    password: admin
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: create-drop
      show-sql: true
      properties:
        hibernate:
          format_sql: true
    database: postgresql
    database-platform: org.hibernate.dialect.PostgreSQLDialect

    flyway:


access.token: 48404D635166546A576D5A7134743777217A25432A462D4A614E645267556B58
#refresh.token: 48404D635166546A576D5A7134743777217A25432A462D4A614E645267556B58

#jwt:
#  expiration: 60000
#  secret: mySecret
#  refresh.token:
#    expiration: 120